<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="4.15"?>
<plugin>
	<extension
           point="org.eclipse.core.contenttype.contentTypes">
        <content-type
              file-extensions="ocl"
              id="com.cnes.checktool.ui.contentType.rule"
              name="Rules"
              priority="normal">
        </content-type>
        <content-type
              file-extensions="xml,lvcugenconf"
              id="com.cnes.checktool.ui.contentType.checkable"
              name="Checkable"
              priority="normal">
        </content-type>
     </extension>
     <extension
           point="org.eclipse.core.expressions.propertyTesters">
        <propertyTester
              class="com.cnes.checktool.checkers.CheckableModelPropertyTester"
              id="com.cnes.checktool.ui.propertyTester"
              namespace="com.cnes.checktool.ui"
              properties="contentTypeId"
              type="org.eclipse.core.resources.IFile">
        </propertyTester>
        <propertyTester
              class="com.cnes.checktool.checkers.CheckableModelPropertyTester"
              id="com.cnes.checktool.ui.propertyTesterCollection"
              namespace="com.cnes.checktool.ui"
              properties="contentTypeIdCollection"
              type="java.util.Collection">
        </propertyTester>
     </extension>
       <extension
        point="org.eclipse.ui.commands">
        <command
              description="Check"
              id="com.cnes.checktool.ui.check"
              name="Check">
        </command>
        <command
              description="Create a ruleset"
              id="com.cnes.checktool.ui.ruleset"
              name="Create Ruleset Command">
        </command>
     </extension>
    
	<extension point="org.eclipse.ui.menus">
	<menuContribution locationURI="popup:org.eclipse.ui.popup.any?after=additions">

      <menu
            id="com.cnes.checktool.menu"
            label="Checktool">
         <command
               commandId="com.cnes.checktool.ui.check"
               label="Check"
               mnemonic="c"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="+">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <or>
                        <adapt
                              type="java.util.Collection">
                           <test
                                 forcePluginActivation="true"
                                 property="com.cnes.checktool.ui.contentTypeIdCollection"
                                 value="com.cnes.checktool.ui.contentType.checkable">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 forcePluginActivation="true"
                                 property="com.cnes.checktool.ui.contentTypeId"
                                 value="com.cnes.checktool.ui.contentType.checkable">
                           </test>
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="com.cnes.checktool.ui.ruleset"
               label="Create Ruleset"
               mnemonic="r"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <count
                        value="+">
                  </count>
                  <iterate
                        ifEmpty="false">
                     <or>
                        <adapt
                              type="java.util.Collection">
                           <test
                                 forcePluginActivation="true"
                                 property="com.cnes.checktool.ui.contentTypeIdCollection"
                                 value="com.cnes.checktool.ui.contentType.rule">
                           </test>
                        </adapt>
                        <adapt
                              type="org.eclipse.core.resources.IFile">
                           <test
                                 forcePluginActivation="true"
                                 property="com.cnes.checktool.ui.contentTypeId"
                                 value="com.cnes.checktool.ui.contentType.rule">
                           </test>
                        </adapt>
                     </or>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <visibleWhen
               checkEnabled="true">
            <with
                  variable="activeMenuSelection">
               <count
                     value="+">
               </count>
               <iterate
                     ifEmpty="false">
                  <or>
                     <adapt
                           type="java.util.Collection">
                        <test
                              forcePluginActivation="true"
                              property="com.cnes.checktool.ui.contentTypeIdCollection"
                              value="com.cnes.checktool.ui.contentType.checkable">
                        </test>
                     </adapt>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              forcePluginActivation="true"
                              property="com.cnes.checktool.ui.contentTypeId"
                              value="com.cnes.checktool.ui.contentType.checkable">
                        </test>
                     </adapt>
                     <adapt
                           type="java.util.Collection">
                        <test
                              forcePluginActivation="true"
                              property="com.cnes.checktool.ui.contentTypeIdCollection"
                              value="com.cnes.checktool.ui.contentType.rule">
                        </test>
                     </adapt>
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              forcePluginActivation="true"
                              property="com.cnes.checktool.ui.contentTypeId"
                              value="com.cnes.checktool.ui.contentType.rule">
                        </test>
                     </adapt>
                  </or>
               </iterate>
            </with>
         </visibleWhen>
      </menu>
	  </menuContribution>
	</extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="com.cnes.checktool.handlers.CheckModelHandler"
          commandId="com.cnes.checktool.ui.check">
    </handler>
    <handler
          class="com.cnes.checktool.handlers.CreateRulesetHandler"
          commandId="com.cnes.checktool.ui.ruleset">
    </handler>
 </extension>
 
</plugin>
